@model web2.Models.User
@{
	ViewBag.Title = "About Us";
}
<style>
	.user-image-container {
		height: unset;
	}
</style>
<h2>About Us</h2>
<p>
	Thanks for using our website. The contact information for the architect of this website is below.
	Have a wonderful day!
</p>

@using (Html.BeginForm(FormMethod.Post))
{
	<div class="user-image-container">
		<img src="@Url.Content("~/Content/my-image.png")" alt="@Model.FirstName @Model.LastName" />
		<div class="name">@Model.FirstName @Model.LastName</div>
		<div class="email">
			<a href="mailto:@Model.Email?subject=Tri-State Music Events">@Model.Email</a>
		</div>
	</div>

	<div class="section">
		<button class="button-action" name="btnSubmit" value="more">
			<i class="far fa-info-circle"></i> More
		</button>
		<button class="button-cancel" name="btnSubmit" value="close">
			<i class="fa fa-times"></i> Close
		</button>
	</div>
}

<script>
	$(document).ready(function () {
		SetActiveMenus('aboutus');
	});
</script>
